__debug_bin
__debug_bin.exe
# .vscode
test/
openp2p.exe*
*.log*
go.sum
*.tar.gz
*.zip
*.exe
config.json
libs/
*/app/.idea/
*/app/release/
openp2p.app.jks
openp2p.aar
openp2p-sources.jar
wintun/
wintun.dll
.vscode/
app/.idea/
*_debug_bin*
cmd/openp2p
vendor/